<template>
  <div>
    <b-button
      variant="success"
      @click="addDependentes()"
      :disabled="disableddAdd"
    >
      <b>+</b>
    </b-button>
    &nbsp;
    <b-button
      variant="danger"
      @click="removerDependentes()"
      :disabled="disabledd"
    >
      <b>-</b>
    </b-button>
  </div>
</template>

<script>
import barramento from "../barramento.js";
export default {
  props: ["disableddAdd", "disabledd"],
  data() {
    return {};
  },
  methods: {
    addDependentes() {
      barramento.$emit("addDependentes", { nome: "", nascimento: "" });
    },
    removerDependentes() {
      barramento.$emit("removerDependentes", null);
    },
  },
};
</script>