<template>
  <div>
    <b-row>
      <b-col cols="1"> </b-col>
      <b-col>
        <b-button type="button" variant="dark" size="sm" @click="cancelar">
          Cancelar e voltar
        </b-button>
      </b-col>
      <b-col cols="1"> </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col cols="1"> </b-col>
      <b-col>
        <p>
          Reserva para: <b>{{ b.title }} - {{ b.horario }}</b>
        </p>
      </b-col>
      <b-col cols="1"> </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col cols="1"> </b-col>
      <b-col>
        <div v-show="next === 1">
          <label>Coloque seu nome</label>
          <b-form-input type="text" v-model="form.nome"> </b-form-input>
          <b-form-invalid-feedback :state="validaNomeCompleto">
            Favor informe o nome completo (um único nome por reserva)
          </b-form-invalid-feedback>
        </div>
        <div v-show="next === 2">
          <label>Informe seu celular</label>
          <b-form-input
            type="text"
            v-model="form.celular"
            v-mask="'(##) #####-####'"
            inputmode="numeric"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validaCelularCompleto">
            Informe aqui o número do seu celular
          </b-form-invalid-feedback>
        </div>
        <div v-show="next === 3">
          <label>CPF</label>
          <b-form-input
            type="text"
            v-model="form.cpf"
            v-mask="'###.###.###-##'"
            inputmode="numeric"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validarCpf">
            Para sua segurança, favor informa seu CPF válido...
          </b-form-invalid-feedback>
        </div>
        <div v-show="next === 4">
          <b-form-group label="Dependentes:">
            <b-form-radio-group
              id="radio-group-1"
              v-model="selected"
              :options="options"
              name="radio-options"
              @change="selectedDependentes()"
            ></b-form-radio-group>
          </b-form-group>
          <div v-show="selected === 'sim'">
            <label>Click no + para adicionar um dependente</label>
            <RegistrarFormButton
              :disableddAdd="
                form.dependentes.length >= 7 ||
                b.limite - 1 <= form.dependentes.length
                  ? true
                  : false
              "
              :disabledd="!form.dependentes.length ? true : false"
            />
          </div>
          <div v-if="form.dependentes.length >= 7">
            <br />
            <p style="color: red">Limite de 7 dependentes atingido!</p>
          </div>
          <br />

          <div
            v-if="!form.dependentes.length"
            class="text-center"
            style="
              background-color: #f0f3f5;
              padding: 0.75rem;
              vertical-align: top;
              border-top: 1px solid #f0f3f5;
            "
          >
            <div role="alert" aria-live="polite">
              <div class="text-center my-2">Sem registros para listar</div>
            </div>
          </div>

          <b-form-invalid-feedback :state="validaDependentes">
            <b>*Preencha os campos nome e data de nascimento de todos os dependentes corretamente</b>
          </b-form-invalid-feedback>

          <div v-for="(d, i) in form.dependentes" :key="i">
            {{ i + 1 }}° Dependente:
            <b-form inline>
              <label>Nome:</label>
              <b-form-input
                class="mb-2 mr-sm-2 mb-sm-0"
                placeholder="Nome do dependente"
                v-model="d.nome"
              ></b-form-input>
              <label> Data de nascimento </label>
              <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                <b-form-input
                  type="text"
                  v-model="d.nascimento"
                  v-mask="'##/##/####'"
                  inputmode="numeric"
                ></b-form-input>
              </b-input-group>
            </b-form>
            <br />
            <br />
          </div>
        </div>
      </b-col>
      <b-col cols="1"> </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col cols="1"> </b-col>
      <b-col>
        <b-button
          type="button"
          v-if="next > 1"
          variant="light"
          size="sm"
          @click="next--"
        >
          Voltar
        </b-button>
        <b-button
          type="button"
          :disabled="!vButtonNome"
          v-if="next === 1"
          variant="dark"
          size="sm"
          @click="next++"
        >
          Próximo
        </b-button>
        <b-button
          type="button"
          :disabled="!vButtonCelular"
          v-if="next === 2"
          variant="dark"
          size="sm"
          @click="next++"
        >
          Próximo
        </b-button>
        <b-button
          type="button"
          :disabled="!vButtonCpf"
          v-if="next === 3"
          variant="dark"
          size="sm"
          @click="next++"
        >
          Próximo
        </b-button>
        <b-button
          type="button"
          v-if="next === 4"
          :disabled="!vButtonCpf || !vDependentes"
          variant="dark"
          size="sm"
          @click="verificarSeCpfJaFoiUsado()"
        >
          Finalizar
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import barramento from "../barramento.js";
import RegistrarFormButton from "./RegistrarFormButton.vue";

export default {
  props: ["b"],
  components: { RegistrarFormButton },
  data() {
    return {
      next: 1,
      vButtonNome: false,
      vButtonCelular: false,
      vButtonCpf: false,
      vDependentes: false,
      form: {
        nome: "",
        celular: "",
        cpf: "",
        dependentes: [],
      },
      selected: "nao",
      options: [
        { text: "Sim, vou levar dependentes", value: "sim" },
        { text: "Não vou levar dependentes", value: "nao" },
      ],
    };
  },
  computed: {
    validaNomeCompleto() {
      var obj = this;
      var retorno = this.form.nome.length > 2;
      if (retorno && this.next === 1) {
        obj.vButtonNome = true;
      } else {
        obj.vButtonNome = false;
      }
      return retorno;
    },
    validaCelularCompleto() {
      var obj = this;
      var retorno = this.form.celular.length > 14;
      if (retorno && this.next > 1) {
        obj.vButtonCelular = true;
      } else {
        obj.vButtonCelular = false;
      }
      return retorno;
    },
    validaDependentes() {
      var obj = this;
      var i = 0;
      obj.vDependentes = true;
      if (obj.form.dependentes.length > 0) {
        for (i; i < obj.form.dependentes.length; i++) {
          if (
            !obj.form.dependentes[i].nome ||
            !obj.form.dependentes[i].nascimento ||
            !this.isValidBirthday(obj.form.dependentes[i].nascimento)
          ) {
            obj.vDependentes = false;
          }
        }
      }

      return obj.vDependentes;
    },
    validarCpf() {
      var numeros;
      var digitos;
      var soma;
      var i;
      var resultado;
      var digitos_iguais;
      var retorno = false;
      var obj = this;
      var cpf = this.form.cpf;

      cpf = cpf.replace(".", "");
      cpf = cpf.replace("-", "");
      cpf = cpf.replace(".", "");

      digitos_iguais = 1;
      if (cpf.length < 11) {
        obj.vButtonCpf = false;
        return false;
      }

      for (i = 0; i < cpf.length - 1; i++)
        if (cpf.charAt(i) != cpf.charAt(i + 1)) {
          digitos_iguais = 0;
          break;
        }

      if (!digitos_iguais) {
        numeros = cpf.substring(0, 9);
        digitos = cpf.substring(9);
        soma = 0;

        for (i = 10; i > 1; i--) soma += numeros.charAt(10 - i) * i;
        resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

        if (resultado != digitos.charAt(0)) {
          obj.vButtonCpf = false;
          return false;
        }

        numeros = cpf.substring(0, 10);
        soma = 0;
        for (i = 11; i > 1; i--) soma += numeros.charAt(11 - i) * i;
        resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

        if (resultado != digitos.charAt(1)) {
          obj.vButtonCpf = false;
          return false;
        }
        retorno = true;
        obj.vButtonCpf = true;
      } else {
        obj.vButtonCpf = false;
        return false;
      }

      return retorno;
    },
  },
  created() {
    barramento.$on("addDependentes", (d) => {
      this.form.dependentes.push(d);
    });
    barramento.$on("removerDependentes", () => {
      this.form.dependentes.pop();
    });
  },
  beforeDestroy() {
    barramento.$off("addDependentes");
    barramento.$off("removerDependentes");
  },
  methods: {
    selectedDependentes() {
      if (this.selected === "nao") {
        this.form.dependentes = [];
      }
    },
    verificarSeCpfJaFoiUsado() {
      var valida = true;
      for (var i = 0; i < this.b.items.length; i++) {
        if (this.b.items[i].cpf === this.form.cpf) {
          valida = false;
        }
      }
      if (valida) {
        this.salvar();
      } else {
        this.$swal("Ops...!", "Esse CPF já foi usado!", "warning");
      }
    },
    /**
     * Given a date string in BR or US format, returns a new string
     * corresponding to a compilant string ("YYYY-MM-DD")
     *
     * Year smaller than 1000 are also invalid.
     */
    getCompilantDateString(dateString) {
      if (dateString && ((typeof dateString) === 'string')) {
        let [ field1, month, field3 ] = dateString.split('/');

        if (!field1 || !month || !field3) return '';

        let day, year;

        if ((typeof field1 === 'string') && (field1.length > 2)) {
          year = field1;
          day = field3;
        } else {
          year = field3;
          day = field1;
        }

        if (parseInt(year) < 1000) return '';

        return year + '-' + month + '-' + day;
      }
    },
     /**
     * Tells if birthday is valid using Date object.
     * Example of invalid date: 1990/50/50
     *
     * We need to convert it compare it to the original string because
     * when converting date back to string, it can change the day/month
     * because of the daylight saving time
     */
    isValidBirthday(birthday) {
      try {
        if (!birthday ||
        typeof birthday !== 'string' ||
        birthday.length !== 10) return false;

        const dateString = this.getCompilantDateString(birthday) +
          'T00:00:00.000Z';
        return ((new Date(dateString)).toISOString() === dateString);
      } catch (error) {
        return false;
      }
    },
    /**
     * Transform the birthday in the "dependentes" field/array of the given form
     * to YYYY-MM-DD format
     */
    formatBirthday(form) {
      if (!form || !form.dependentes ||
        typeof form.dependentes.forEach !== 'function') return false;

      if (form.dependentes.length < 1) return false;

      form.dependentes.forEach((dependent) => {
        if (dependent.nascimento) {
          const dateString = this.getCompilantDateString(dependent.nascimento);

          if (dateString) dependent.nascimento = dateString;
        }
      });

      return true;
    },
    salvar() {
      barramento.$emit("spinner", true);

      this.formatBirthday(this.form);

      this.axios({
        method: "post",
        url: "/api/public/api/form_add",
        data: {
          evento_id: this.b.id,
          form: this.form,
          selected: this.selected,
        },
        headers: { "content-type": "application/json" },
      }).then(
        (response) => {
          console.log(response.data);
          barramento.$emit("form_add", this.form);
          this.$swal(
            "Sucesso",
            "Seu lugar foi garantido com sucesso, você pode confirmar os nomes na lista, apertando o botão Lista...",
            "success"
          );
        },
        (error) => {
          this.$swal({
            type: "error",
            title: "Error",
            text: error,
          });
        }
      );
    },
    cancelar() {
      barramento.$emit("form_reserva", null);
    },
  },
};
</script>