<template>
  <div class="agenda">
    <br />
    <br />
    <h4 class="text-center">Igreja em Alvorada</h4>
    <br />
    <Card v-show="b === null && l === null" :objeto="objeto" />
    <RegistrarForm v-if="b" :b="b" />
    <Lista v-if="l !== null" :items="l.items" :id="l.id" />
    <br />
    <Spinner :mostrar="mostrar" />
  </div>
</template>

<script>
import barramento from "../barramento";
import Card from "../components/Card.vue";
import RegistrarForm from "../components/RegistrarForm.vue";
import Lista from "../components/Lista";
import Spinner from "../components/Spinner";

export default {
  name: "Agenda",
  components: {
    Card,
    RegistrarForm,
    Lista,
    Spinner,
  },
  data() {
    return {
      b: null,
      l: null,
      mostrar: false,
      objeto: [],
    };
  },
  methods: {
    getDb() {
      this.mostrar = true;
      this.axios({
        method: "get",
        url: "/api/public/api",
        headers: { "content-type": "application/json" },
      })
        .then((response) => {
          this.objeto = response.data;
          this.mostrar = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  beforeDestroy() {
    barramento.$off("getDbfunc");
    barramento.$off("form_reserva");
    barramento.$off("lista");
    barramento.$off("form_add");
  },
  created() {
    barramento.$on("getDbfunc", (b) => {
      if (b) this.getDb();
    });

    barramento.$on("form_reserva", (b) => {
      this.b = b;
    });

    barramento.$on("lista", (l) => {
      this.l = l;
    });

    barramento.$on("spinner", (acao) => {
      this.mostrar = acao;
    });

    barramento.$on("remove_lista", (b) => {
      var item_id = 0;
      for (var i = 0; i < this.objeto.length; i++) {
        if (b.id === this.objeto[i].id) {
          item_id = this.objeto[i].items[b.index].id;
          this.objeto[i].items.splice(b.index, 1);
        }
        this.l = null;
      }

      this.axios({
        method: "delete",
        url: "/api/public/api/remove_lista/" + item_id,
        headers: { "content-type": "application/json" },
      })
        .then((response) => {
          var title = "Atenção!";
          var mensagem =
            "Não foi possível reservar sua vaga, parece que não tem mais disponiveis!";
          var tipo = "error";

          if (response.data) {
            title = "Sucesso";
            mensagem = "Vaga liberada para outra pessoa...";
            tipo = "success";
          }
          this.$swal(title, mensagem, tipo);
          this.getDb();
          this.mostrar = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    });

    barramento.$on("form_add", (f) => {
      for (var i = 0; i < this.objeto.length; i++) {
        if (this.b.id === this.objeto[i].id) {
          this.objeto[i].items.push({
            nome: f.nome,
            celular: f.celular,
            cpf: f.cpf,
          });
        }
      }

      this.b = null;
      this.l = null;
      this.getDb();
    });
  },
  beforeMount() {
    this.getDb();
  },
};
</script>