<template>
  <div class="login">
    <div class="text-center">
      <h5>Painel Administrador</h5>
    </div>
    <br />
    <b-row>
      <b-col>
        <label>Name: </label>
        <b-form-input type="text" v-model="form.user" disabled></b-form-input>
      </b-col>
    </b-row>
    <p></p>
    <b-row>
      <b-col>
        <label>Senha: </label>
        <b-form-input type="password" v-model="form.password"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <br />
        <b-button block variant="primary" @click="validar()">Login</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import barramento from "../../barramento.js";

export default {
  data() {
    return {
      form: {
        user: "Administrador",
        password: "",
      },
      logado: true,
    };
  },
  methods: {
    validar() {
      var title = "Erro!";
      var mensagem = "Senha incorreta.";
      var tipo = "error";

      if (this.form.user === "Administrador" && this.form.password === "123") {
        title = "Sucesso";
        mensagem = "Sejá muito bem-vindo.";
        tipo = "success";
        this.logado = true;
        barramento.$emit("login_valido", this.logado);
      } else {
        this.logado = false;
        barramento.$emit("login_valido", this.logado);
      }
      this.$swal(title, mensagem, tipo);
    },
  },
  beforeDestroy() {
    barramento.$off("login_sair");
  },
  created() {
    barramento.$on("login_sair", (b) => {
      if (b == true) {
        this.logado = false;
        this.form.password = "";
      }
    });
  },
};
</script>
